body {
    background-color: lightgoldenrodyellow;
    text-align: center;
    font-family: sans-serif;
}
#Tetris{
    background-color: lightcoral;
    margin: auto;
    width: 500px;
}
canvas {
    background-color: lightcoral;
    margin: 20px;
}